body {
  background-color: #fdfdfd;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
  padding: 0 20px;
  margin-bottom: 3rem;
}

.header-container > ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.header-container > ul > li {
  list-style: none;
  margin: 0 10px;
  padding: 5px;
  font-size: 1.5rem;
}

@media (max-width: 786px) {
  .header-container {
    flex-direction: column;
  }
  .header-container > ul {
    padding: 1rem;
  }
  .header-container > ul > li {
    font-size: 1rem;
  }
}

.logo {
  height: 3rem;
  width: 3rem;
  color: orange;
  border: 2px solid orange;
  border-radius: 10px;
}

.body-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.card-container {
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 200px;
  height: 280px;
  margin: 10px 20px;
}

.card-img-container {
  height: 90px;
  /* border: 1px solid red; */
  border-radius: 10px 10px 0 0;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card .card-list {
  padding: 0 10px;
}

.card-list p {
  margin-top: 4px;
}

.filter {
  margin-bottom: 1rem;
}
.filter-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  background-color: gray;
  width: 200px;
  height: 280px;
  padding: 10px;
  margin: 10px;
}
