.app {
  background-color: darkturquoise;
  padding: 10px;
}

.parent {
  background-color: aquamarine;
  padding: 10px;
}
.child {
  background-color: yellow;
  padding: 10px;
}
.grand-child {
  background-color: lightgoldenrodyellow;
  padding: 10px;
}
